-- Build a boat
-- Script lua 1.0

-- Send alert
game.StarterGui:SetCore("SendNotification", {
    Title = "Auto chest";
    Text = "Made by tonkra"; -- what the text says (ofc)
    Duration = 60;
}) 
wait(1)
game.StarterGui:SetCore("SendNotification", {
    Title = "Opening!";
    Text = "Reset to stop"; -- what the text says (ofc)
    Duration = 60;
})

_G.HeadSize = 20
_G.Disabled = true

-- Input free block

_G.RUN = true
spawn(function()
coroutine.wrap(function()
while _G.RUN do wait()
coroutine.wrap(function()
while _G.RUN do wait()
workspace.ItemBoughtFromShop:InvokeServer("Winter Chest",math.floor(game:GetService("Players").LocalPlayer.Data.Gold.Value / 100))
end
end)()
end
end)()
end)
